.header-background {
    background-color: antiquewhite;
    display: inline-block;
    height: 80px;
    width: 100%;

}



a {
    text-decoration: none;

}

a:hover {

    color: blue;
    text-decoration: underline;
    background-color: aliceblue;
}

li {
    list-style-type: none;
    margin: 10px 20px;


}

ul {
    display: flex;
    direction: rtl;
}

main {
    width: 100%;
    margin: 0;
    display: flex;
}

.section-width {
    margin: 5px;
    width: 50%;

}

.section-width img {
    width: 100%;
}

.article-section-width {
    display: flex;
}

.article-width {
    width: 50%;
}

h1 {
    padding: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: 700;

}

p {
    padding: 0 40px;
    color: lightslategray;

}

article a {
    color: white;
    margin: 0 40px;
    padding: 10px 30px;
    background-color: rgb(21, 96, 235);
}

header {
    text-align: right;
}